<!DOCTYPE html>
<html>
	<head>
		<title>DGN-ZKTeco</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="/static/src/libs/fontawesome-free-6.7.2-web/css/fontawesome.css" rel="stylesheet" />
                <link href="/static/src/libs/fontawesome-free-6.7.2-web/css/brands.css" rel="stylesheet" />
                <link href="/static/src/libs/fontawesome-free-6.7.2-web/css/solid.css" rel="stylesheet" />
		<link href="/static/src/libs/toast/css/toast.css" rel="stylesheet"/>

		<center><h1 style="color:#d9d7d7">DGN-ZKTeco</h1></center>
	</head>
	<style>
	.prv-btn{
		width:70%;
		height:45px;
		line-height:45px;
		text-align:center;
		border-top-left-radius: 29px;
		border-top-right-radius: 29px;
		border-bottom-left-radius: 29px;
		border-bottom-right-radius: 29px;
		background-color:#424242;
		color:#d9d7d7;
		border-width:0px;
	}
	.prv-sctn{
		width:37%;
		line-height:12px;
		text-align:center;
		border-top-left-radius: 29px;
		border-top-right-radius: 29px;
		border-bottom-left-radius: 29px;
		border-bottom-right-radius: 29px;
		background-color:#424242;
		color:#d9d7d7;
		border-width:0px;
		font-size: 10px;
	}

	#particles-js {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
        }

        .content {
                position: relative;
                z-index: 1;
                padding: 2rem;
        }


	.wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 100%;
                overflow-x: hidden;
                text-align: center;
                border-top-left-radius: 9px;
                border-top-right-radius: 9px;
                border-bottom-left-radius: 9px;
                border-bottom-right-radius: 9px;
        }

        .wrapper > * {
                max-width: 100%;
        }

        .wrapper table {
                border-collapse: collapse;
                width: auto;
                max-width: 100%;
        }

        .wrapper td {
                word-wrap: break-word;
        }
        .wrapper div {
                align-items: center;
        }
	</style>
	<body style="background-color:#212121;color:#d9d7d7">
		<div class="wrapper">
			<div id="toastContainer"></div>
			<div id="particles-js"></div>
			<div class="content" style="width:90%;background-color:#303030;border-top-left-radius: 9px;border-top-right-radius: 9px;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;box-shadow: 1px 1px 7px #303030;">
				<!-- -->
				<table style="background-color:#303030;width:90%;align:center;border-top-left-radius: 9px;border-top-right-radius: 9px;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;box-shadow: 0px 0px 0px #212121;table-layout:fixed;margin:0 auto;" class="prof-tbl">
					<tr>
						<td align="left" style="border-top: 0px solid #212121;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;box-shadow: 0px 0px 0px grey;width:32%">
							<div style="white-space: nowrap;display: inline-flex;">
								<button type="button" id="btn_edit" onclick="toggleFormReadOnly(this)" class="slct-cntrl" style="display: block;color:red;background-color:#303030;color:#d9d7d7;border:none;">
									<i class="fa-solid fa-pen-to-square"></i>                                                                           </button>
								<button type="button" id="btn_discard" onclick="discardChanges()" class="discard" style="display: none;color:red;background-color:#303030;color:#d9d7d7;border: none;">
									<i class="fa-solid fa-xmark"></i>
								</button>
								<button type="submit" form="settingsForm" id="act_rg" style="display:none;background-color:#303030;color:#d9d7d7;border: none;">
									<i class="fa-solid fa-cloud-arrow-up"></i>
								</button>
							</div>
						</td>
						<td align="center" style="border-top: 0px solid #212121;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;box-shadow: 0px 0px 0px grey;width:36%">
							<h1 onclick="toggleVisibility()">
								<i class="fa-solid fa-gear"></i>
							</h1>
							<form id="resetDefault" action="{{ url_for('routes.reset_settings') }}" method="post" enctype="multipart/form-data">
								<input type="text" id="reset" name="reset" value="reset_settings" style="visibility: hidden;"/>
								<button type="submit" id="slctCntrl" class="reset-cntrl prv-btn" style="display: none;border: none;background-color:red;color:white;font-size:14px;width:30%;">
									<b><i class="fa-solid fa-file-code"></i> Reset</b>
								</button>
							</form>
						</td>
						<td align="right" style="border-top: 0px solid #212121;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;box-shadow: 0px 0px 0px grey;width:32%">
						</td>
					</tr>
				</table>
				<div style="white-space: nowrap;display: inline-flex;">
					<span id="connectedSessions"> 
						{{ connected_sessions }} <i class="fa-solid fa-wifi"></i>
					</span>
				</div>
				<!-- -->
				<table style="background-color:#303030;width:90%;align:center;border-top-left-radius: 9px;border-top-right-radius: 9px;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;box-shadow: 0px 0px 0px #212121;table-layout:fixed;margin:0 auto;" class="prof-tbl">
					<tr>
						<td align="left" style="border-top: 0px solid #212121;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;box-shadow: 0px 0px 0px grey;width:5%; vertical-align: top;">
							<table style="border-collapse:collapse;background-color:none;width:100%;align:center;border: 0px solid #303030;padding: 0 0;">
								<tr style="background-color:none;">
									<td align="center" style="text-align:left; width:100%;padding: 10px 0; vertical-align: top;">
										<a href="{{ url_for('routes.users') }}" title="Users" style="text-decoration: none;color:#d9d7d7">
											<i class="fa-solid fa-users"></i>
										</a>
									</td>
								</tr>
								<tr style="background-color:none;">
									<td align="center" style="text-align:left; width:100%;padding: 10px 0;">
										<a href="{{ url_for('routes.upload_users') }}" title="Add User" style="text-decoration: none;color:#d9d7d7;">
											<i class="fa-solid fa-user-pen"></i>
										</a>
									</td>
								</tr>
								<tr style="background-color:none;">
									<td align="center" style="text-align:left; width:100%;padding: 10px 0;">
										<a href="{{ url_for('routes.upload_user_template') }}" title="Add Template" style="text-decoration: none;color:#d9d7d7">
											<i class="fa-solid fa-fingerprint"></i><i class="fa-solid fa-pencil" style="font-size:10px;"></i>
										</a>
									</td>
								</tr>
							</table>
						</td>
						<td align="left" style="border-top: 0px solid #212121;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;box-shadow: 0px 0px 0px grey;width:90%">

							<form id="settingsForm" action="{{ url_for('routes.settings') }}" method="POST" enctype="multipart/form-data">
								<table style="border-collapse:collapse;background-color:#303030;width:49%;align:center;border: 0px solid #303030;table-layout:fixed;margin:0 auto;">
									<tr style="background-color:#303030;">
										<td align="center" style="text-align:center; width:100%;background-color:#303030;padding: 0 10px;" class="prv-btn">
											<table style="border-collapse:collapse;background-color:none;width:100%;align:center;border: 0px solid #303030;" class="prv-btn"> 
												<tr style="background-color:none;">
													<td align="center" style="text-align:left; width:10%;padding: 0 10px;" class="prv-btn">
														Name:
													</td>
													<td align="center" style="text-align:left; width:90%;" class="prv-btn">
														<input type="text" name="name" id="name" value="{{ settings.name if settings else '' }}" class="prv-btn" autocomplete="off" style="outline: none; text-align: left;" autocomplete="off" required readonly>
													</td>
												</tr>
												<tr style="background-color:none;">
													<td align="center" style="text-align:left; width:10%;padding: 0 10px;" class="prv-btn">
														Timezone:
													</td>
													<td align="center" style="text-align:left; width:90%;" class="prv-btn">
														<input list="timezones" name="timezone" id="timezone" required value="{{ settings.timezone if settings else '' }}" class="prv-btn" style="outline: none; text-align: left;" autocomplete="off" readonly/>
														<datalist id="timezones">
															{% for tz in timezones %}
															<option value="{{ tz }}">
															{% endfor %}
														</datalist>
													</td>
												</tr>
												<tr style="background-color:none;">
													<td align="center" style="text-align:left; width:10%;padding: 0 10px;" class="prv-btn">
														Host:
													</td>
													<td align="center" style="text-align:left; width:90%;" class="prv-btn">
														<input type="text" name="host" id="host" value="{{ settings.host if settings else '0.0.0.0' }}" class="prv-btn" autocomplete="off" style="outline: none; text-align: left;" required readonly>
                                                                                                        </td>
												</tr>
												<tr style="background-color:none;">
                                                                                                        <td align="center" style="text-align:left; width:10%;padding: 0 10px;" class="prv-btn">
                                                                                                                Port:
                                                                                                        </td>
                                                                                                        <td align="center" style="text-align:left; width:90%;" class="prv-btn">
                                                                                                                <input type="number" name="port" id="port" value="{{ settings.port if settings else 4370 }}" class="prv-btn" autocomplete="off" style="outline: none; text-align: left;" required readonly>
                                                                                                        </td>
                                                                                                </tr>
												<tr style="background-color:none;">
													<td align="center" style="text-align:left; width:10%;padding: 0 10px;" class="prv-btn">
                                                                                                                Timeout(s):
                                                                                                        </td>
													<td align="center" style="text-align:left; width:90%;" class="prv-btn">
														<input type="number" name="timeout" id="timeout" value="{{ settings.timeout if settings else 3 }}" class="prv-btn" autocomplete="off" style="outline: none; text-align: left;" required readonly>
													</td>
												</tr>
												<tr style="background-color:none;">
                                                                                                        <td align="center" style="text-align:left; width:10%;padding: 0 10px;" class="prv-btn">
                                                                                                                Protocal:
                                                                                                        </td>
                                                                                                        <td align="center" style="text-align:left; width:90%;" class="prv-btn">
														<span id="protocolInfo" style="display:block;">
                                                                                                                        {{ settings.protocol if settings else '' }}
                                                                                                                </span>
														<select id="protocol" name="protocol" class="prv-btn" autocomplete="off" style="outline: none; text-align: left; display:none;" required readonly>
															<optgroup label="Core Communication">
																<option value="TCP" {{ 'selected' if settings and settings.protocol == 'TCP' else '' }} >TCP</option>
																<option value="UDP" {{ 'selected' if settings and settings.protocol == 'UDP' else '' }}>UDP</option>
															</optgroup>

															<optgroup label="Application / API Communication">
																<option value="HTTP" {{ 'selected' if settings and settings.protocol == 'HTTP' else '' }}>HTTP</option>
																<option value="HTTPS" {{ 'selected' if settings and settings.protocol == 'HTTPS' else '' }}>HTTPS</option>
																<option value="SOAP" {{ 'selected' if settings and settings.protocol == 'SOAP' else '' }}>SOAP</option>
																<option value="MQTT" {{ 'selected' if settings and settings.protocol == 'MQTT' else '' }}>MQTT</option>
															</optgroup>

															<optgroup label="Device Discovery / Sync">
																<option value="DHCP" {{ 'selected' if settings and settings.protocol == 'DHCP' else '' }}>DHCP</option>
																<option value="SNMP" {{ 'selected' if settings and settings.protocol == 'SNMP' else '' }}>SNMP</option>
															</optgroup>

															<optgroup label="Low-level Device Communication">
																<option value="RS485" {{ 'selected' if settings and settings.protocol == 'RS485' else '' }}>RS485</option>
																<option value="RS232" {{ 'selected' if settings and settings.protocol == 'RS232' else '' }}>RS232</option>
															</optgroup>
														</select>

													</td>
                                                                                                </tr>
												<tr style="background-color:none;">
													<td align="center" style="text-align:left; width:10%;padding-left: 20px;" class="prv-btn">
														<div style="white-space: nowrap;display: inline-flex;">
															<button type="button" id="syncBtn" title="Sync" class="restart" style="display: block;background-color:transparent;color:#d9d7d7;border:none;">
																<b><i class="fas fa-sync" style="font-size:20px;"></i></b>
															</button>
														</div>
													</td>
													<td align="center" style="text-align:right; width:90%;padding-right: 20px;" class="prv-btn">
														<div style="white-space: nowrap;display: inline-flex;">
															{% if settings.is_active %}
															<button type="button" id="restartBtn" title="Restart" class="restart" style="display: block;color:red;background-color:transparent;color:#d9d7d7;border:none;">
																<b><i class="fa-solid fa-rotate-left" style="color:#42A5F5;font-size:20px;"></i></b>
															</button>
															<button type="button" id="stopBtn" title="Power OFF" class="restart" style="display: block;color:red;background-color:transparent;color:#d9d7d7;border:none">

    <b><i class="fa-solid fa-power-off" style="color:#E53935;font-size:20px;"></i></b>
                                                                                                                        </button>
															<button type="button" id="startBtn" title="Power ON" class="restart" style="display:none;color:red;background-color:transparent;color:#d9d7d7;border:none;">
                                                                                                                                <b><i class="fa-solid fa-power-off" style="color:#4CAF50;font-size:20px;"></i></b>
                                                                                                                        </button>
															{% else %}
															<button type="button" id="startBtn" title="Power ON" class="restart" style="display: block;color:red;background-color:transparent;color:#d9d7d7;border:none;">

    <b><i class="fa-solid fa-power-off" style="color:#4CAF50;font-size:20px;"></i></b>
                                                                                                                        </button>

															<button type="button" id="restartBtn" title="Restart" class="restart" style="display: none;color:red;background-color:transparent;color:#d9d7d7;border:none;">

    <b><i class="fa-solid fa-rotate-left" style="color:#42A5F5;font-size:20px;"></i></b>
                                                                                                                        </button>
                                                                                                                        <button type="button" id="stopBtn" title="Power Off" class="restart" style="display: none;color:red;background-color:transparent;color:#d9d7d7;border:none">

    <b><i class="fa-solid fa-power-off" style="color:#E53935;font-size:20px;"></i></b>
                                                                                                                        </button>
															{% endif %}
														</div>
													</td>
												</tr>
											</table>  
										</td>
									</tr>
								</table>
								<br/>
							</form>
						</td>
						<td align="right" style="border-top: 0px solid #212121;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;box-shadow: 0px 0px 0px grey;width:5%; vertical-align: top;">
							<table style="border-collapse:collapse;background-color:none;width:100%;align:center;border: 0px solid #303030;padding: 0 0;">
								<tr style="background-color:none;">
									<td align="center" style="text-align:left; width:100%;padding: 10px 0; vertical-align: top;">
										<a href="{{ url_for('routes.punch_in') }}" title="Check In" style="text-decoration: none;color:#d9d7d7">
											<i class="fa-solid fa-right-to-bracket"></i>
										</a>
									</td>
								</tr>
								<tr style="background-color:none;">
									<td align="center" style="text-align:left; width:100%;padding: 10px 0;">
										<a href="{{ url_for('routes.punch_out') }}" title="Check Out" style="text-decoration: none;color:#d9d7d7">
											<i class="fa-solid fa-right-from-bracket"></i>
										</a>
									</td>
								</tr>
								<tr style="background-color:none;">
									<td align="center" style="text-align:left; width:100%;padding: 10px 0;">
										<a href="{{ url_for('routes.users_attendance') }}" title="Attendance" style="text-decoration: none;color:#d9d7d7">
											<i class="fa-solid fa-calendar-days"></i>
										</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<br/>
				<br/>
			</div>
			<br/>
			<i style="color:#d9d7d7">F18/ID⚡ powered by DGN-Tech</i>

			<script src="/static/src/libs/particles.js@2.0.0/particles.min.js"></script>
                        <script>
                                particlesJS.load(
                                        "particles-js",
                                        "/static/src/libs/particles.js@2.0.0/particles_config.json",
                                );
                        </script>
		</div>
		<script src="/static/src/libs/toast/js/toast.js"></script>
		<script>
			document.getElementById("settingsForm").addEventListener("input", function() {
			    let form = this;
			    let UploadBtn = document.getElementById("act_rg");

			    let hasData = Array.from(form.elements).some(el => el.value && el.value.trim() !== "");

			    if (hasData) {
				UploadBtn.style.display = "block";
			    } else {
				UploadBtn.style.display = "none";
			    }
			});
		</script>
		<script>
                        function toggleFormReadOnly(editBtn) {
                            const form = document.getElementById('settingsForm');
                            const fields = form.querySelectorAll('input, textarea, select');

                            let protocolSelect = document.getElementById("protocol");
                            let protocolInfo = document.getElementById("protocolInfo");
                            editBtn.style.display = "none";
                            protocolSelect.style.display = "block";
                            protocolInfo.style.display = "none";
                            
			    let discard = document.getElementsByClassName("discard");
                            for (let i = 0; i < discard.length; i++) {
                                    if (discard[i].style.display == "none") {
                                            discard[i].style.display = "block";
                                    } else {
                                            discard[i].style.display = "none";
                                    }
                            }
                            fields.forEach(el => {
                                if (el.hasAttribute('readonly')) {
                                    el.removeAttribute('readonly');
                                } else {
                                    el.setAttribute('readonly', 'true');
                                }
                            });
                        }

                        function discardChanges() {
                            location.reload();
                        }
                </script>

		<script>
			document.getElementById("startBtn").addEventListener("click", async () => {
                          try {
                            const res = await fetch("/zk/start", { method: "POST" });
                            const data = await res.json();
                            showToast(data.status, "success");
                          } catch (err) {
                            showToast("Error starting ZK: " + err, "error");
                          }
			  setTimeout(() => location.reload(), 4000);
                        });


			document.getElementById("stopBtn").addEventListener("click", async () => {
                          try {
                            const res = await fetch("/zk/stop", { method: "POST" });
                            const data = await res.json();
                            showToast(data.status, "success");
                          } catch (err) {
                            showToast("Error stopping ZK: " + err, "error");
                          }
			  setTimeout(() => location.reload(), 4000);
                        });

			document.getElementById("restartBtn").addEventListener("click", async () => {
			  try {
			    const res = await fetch("/zk/restart", { method: "POST" });
			    const data = await res.json();
			    showToast(data.status, "success");
			  } catch (err) {
			    showToast("Error restarting ZK: " + err, "error");
			  }
			  setTimeout(() => location.reload(), 4000);
			});

			document.getElementById("syncBtn").addEventListener("click", async () => {
                          try {
                            const res = await fetch("/zk/state/sync", { method: "POST" });
                            const data = await res.json();
                            showToast(data.status, "success");
                          } catch (err) {
                            showToast("Error restarting ZK: " + err, "error");
                          }
                          setTimeout(() => location.reload(), 4000);
                        });

			{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			setTimeout(() => showToast("{{ message }}", "success"), 100);
			{% endfor %}
			{% endif %}
			{% endwith %}
		</script>
		<script>
                      function toggleVisibility() {
                              let selectors = document.getElementsByClassName("reset-cntrl");
                              let ControlBtn = document.getElementById("cntrlBtn");

                              for (let i = 0; i < selectors.length; i++) {
                                      if (selectors[i].style.display == "none") {
                                              selectors[i].style.display = "block";
                                      } else {
                                              selectors[i].style.display = "none";
                                      }
                              }
                      }
                </script>
		<!--script>
		        async function querryConnectedSessions () => {
			  let connectedSessionsSpan = document.getElementById("connectedSessions");
                          try {
                            const res = await fetch("/zk/sessions/connected", { method: "POST" });
                            const data = await res.json();
                            connectedSessionsSpan.innerhtml = data.sessions + "<i class="fa-solid fa-wifi"></i>";
                          } catch (err) {
                            connectedSessionsSpan.innerhtml = "<i class="fa-solid fa-wifi"></i>";
                          }
                        }
			setTimeout(() => querryConnectedSessions(), 3000);
		</script-->
		<!--script>
			  async function queryConnectedSessions() {
			    const connectedSessionsSpan = document.getElementById("connectedSessions");
			    try {
			      const res = await fetch("/zk/sessions/connected", { method: "POST" });
			      const data = await res.json();
			      connectedSessionsSpan.innerHTML = data.sessions + ' <i class="fa-solid fa-wifi"></i>';
			    } catch (err) {
			      connectedSessionsSpan.innerHTML = '<i class="fa-solid fa-wifi"></i>';
			    }
			  }

			  setInterval(queryConnectedSessions, 3000);
		</script-->

		<script>
			  const eventSource = new EventSource("/zk/sessions/connected/stream");

			  eventSource.onmessage = function(event) {
			    const connectedSessionsSpan = document.getElementById("connectedSessions");
			    const data = JSON.parse(event.data);
			    connectedSessionsSpan.innerHTML = data.sessions + ' <i class="fa-solid fa-wifi"></i>';
			  };

			  eventSource.onerror = function(err) {
			    console.error("SSE connection error:", err);
			  };
		</script>
	</body>
</html>
